{% extends "base.html" %}
{% block title %}Chi Siamo{% endblock title %}

{% block content %}
<section class="youtube spad">
<h2>Chi Siamo</h2>
<div class="container">
    
        {% for artista in artisti  %}
    <div class="row">
        <div class="col">
            
                <div class="card mb-3" style="max-width:auto;">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="rounded-circle" src="{{artista.img.url}}" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{artista.nome}} {{artista.cognome}}</h5>
                        <p class="card-text">{{artista.esperienza}}</p>
                        <p class="card-text"><small class="text-muted">Suona il {{artista.strumento}}</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    {% comment %} <div class="row">
        <div class="col">
            
                <div class="card mb-3" style="max-width:auto;">
                    <div class="row no-gutters">                
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{artista.nome}} {{artista.cognome}}</h5>
                        <p class="card-text">{{artista.esperienza}}</p>
                        <p class="card-text"><small class="text-muted">Suona il {{artista.strumento}}</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="rounded-circle" src="{{artista.img.url}}" alt="...">
                    </div>
                    </div>
                </div>
            </div> {% endcomment %}
            
    </div>
        {% endfor %}
    </div>
</div>

</section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content %}