{% extends "base.html" %}
{% load static %}
{% block titolo %}Foto{% endblock titolo %}

{% block content %}
<section class="discography spad"> 
  
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <h2>Foto del Gruppo</h2>
                    
                </div>
            </div>
        </div>
        <div class="row">
        {% for foto in foto %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="discography__item">
                    <div class="discography__item__pic">
                        <img src="{{foto.img.url}}">
                    </div>
                </div>                
            </div>
        {% endfor %}    
        </div>
    </div>

    <br><br><br><br>
     
      <div class="container">
        <div class="row">            
          <div class="col-10">
            {% for commento in commenti %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">{{commento.nome}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{commento.email}}</h6>
              <p class="card-text">{{commento.commento}}.</p>
            </div>
          </div>
        {% endfor %}
          </div>
          <div class="col-2">
            Saluta la Band!
            <form class="form-group" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Invia</button>
          </div>
        </div>
      </div>

</section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content %}