{% extends "base.html" %}
{% block title %}Lavora Con Noi{% endblock title %}

{% block content %}
<section class="youtube spad">
<h2>Lavora Con Noi</h2>
<div class="container">
    <form method="post" action="{% url "gruppo:chisiamo" %}">
    <div class="form-group">
      {% csrf_token %}
      {{form.as_div}}
        
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
</div>
</section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content %}

  