{% extends "base.html" %}
{% block title %}Lavora Con Noi{% endblock title %}

{% block content %}
<section class="youtube spad">

<div class="container">
  
  <h2>Lavora Con Noi</h2>
  <div class="form-group">
    <form method="post" action="{% url "gruppo:lavoraconnoi" %}">
    
      {% csrf_token %}
      {{form.as_div}}
        
      <button type="submit" class="btn btn-primary">Invia</button>
    </form>
  <div>
</div>
</section>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content %}

  