{% extends "base.html" %}
{% load static %}
{% block title %}Video{% endblock title %}

{% block content %}
<br><br>
<!-- Youtube Section Begin -->
    <section class="youtube spad">
        
        <div class="container">
            <div class="row">                
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Video Del Gruppo</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                {% for video in video  %}
                <div class="col-lg-4 col-md-6 col-sm-6">                    
                    <div class="youtube__item">
                        <div class="youtube__item__pic set-bg" data-setbg="{{video.img.url}}">
                            <a href="{{video.link}}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="youtube__item__text">
                            <h4>{{video.nome}}</h4>
                        </div>
                    </div>
                </div>  
                {% endfor %}              
            </div> 
    


    <br><br><br><br>
   
        
        <div class="row">            
          <div class="col-10">
            {% for commento in commenti %}
            <div class="alert bg-light mb-3" role="alert">
              <h4 class="card-title">{{commento.nome}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{commento.email}}</h6>
              <p class="card-text">{{commento.commento}}.</p>
            </div>
        {% endfor %}
          </div>
          <div class="col-2">
            Saluta la Band!
            <form class="form-group" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Invia</button>
          </div>
        </div>
    </div>

</section> 
<!-- Youtube Section End -->
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content %}
